  
    :root {
      --primary-color: #62a7ec;
      --bg-color: #222222;
      --text-color: #d7d7d7;
    }

    * {
      font-family: 'Inter', 'sans-serif';
      text-decoration: none;
      margin-top: 1rem;
      background-color: var(--bg-color);
      color: var(--text-color);
    }
      
    h1 {
        font-size: 36px;
        font-weight: 900;
        margin: 0;
        text-align: center;
        color: var(--primary-color);
    }

    p {
      text-align: justify;
    }

    a {
      color:var(--primary-color);
    }

    section {
      max-width: 80%;
      margin: 0 auto;
    }