  
:root {
  --primary-color: #e89b00 ;
  --bg-color: #131313 ;
  --secondary-color: #282828 ;
  --third-color: #8b8b8b ;
  --text-color: #d7d7d7 ;
}

* {
  font-family: 'Times New Roman', 'serif';
  text-decoration: none ;
  color: var(--text-color) ;
}

body {
  background-color: var(--third-color);
}

section {
  max-width: 55% ;
  margin: 0.5rem auto ;
}
      
h1 {
  font-size: 36px ;
  font-weight: 900 ;
  margin-top: 0.5rem;
  text-align: center ;
  color: var(--primary-color) ;
}

p {
  text-align: justify ;
  font-size: 20px;
}

a {
  color:var(--primary-color) ;
}

.container {
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

li {
  font-size: 20px;
  line-height: 1.5;
}

.signpost {
  color: #e89b00;
  text-align: center;
}

.enemy {
  color: var(--primary-color);
  font-weight: 600;
  margin-right: 0.5rem;
}

.combatskill, .endurance {
  padding: 9px 13px;
  border-radius: 15px;
  background-color: var(--primary-color);
  margin: 0 10px;
  color: var(--bg-color);
}

.combat {
  margin: 2rem 0;
}

.content {
  padding: 2rem;
}

.inline, .float {
  text-align: center;
}

img {
  margin: 15px 0 5px 0;
}

header {
  background-color: var(--bg-color);
  padding: 1.5rem 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}

header p {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  margin: 0;
}

header p:last-child {
  font-style: italic;
  margin-top: 0.8rem;
}

footer {
  padding: 0.5rem 2rem;
  background-color: var(--bg-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.footer div p {
  font-size: 16px;
  font-style: italic;
}

.footer div p:first-child {
  font-weight: 800;
}

.deadend {
  font-size: 20px;
  color: var(--primary-color);
}